
html{
    font-size: 16px;
}

body{
    font-size: 62.5%; /* 1em = 10px */
}
html, body {
	background-color: #F6F6F6; 
	font-family: Verdana, sans-serif;
    color: #222222;
    border: 0;
    letter-spacing: 0.01em;
    font-weight: 300;
}

p, ul, li, div, section, a, span, nav{
    margin: 0;
    padding: 0;
}


a{
	text-decoration: none;
	color: #5E7D9D; /*light blue*/
}

a:hover{color: #2E4E6E;}

.container{
	margin: 2% auto;
	max-width: 1040px;
    width: 100%;
	background-color: #FFFFFF;
	border: 0.1em solid #DFDFDF;
    border-radius: 0.4em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.main-page{ 
    width: 94.219653%; /* should be 978px when full */
    margin: 1.6% auto;
	overflow: hidden;
}

.clear{
	clear:both;
}


/* NAV BAR STYLING ======================== */

nav{
	border-bottom: 0.1em solid #DFDFDF; /* color of most of the gray lines */
	padding-bottom: 0.8%;
	overflow:hidden;

}

    nav p > img{
        margin-bottom: -0.3em;
    }

    nav > ul{
    	list-style-type: none;
    	display: inline-block;
    	float: left;
    	padding-left: 0.6em;
    	width: 70%;
    }

    nav > ul > li{
    	display: inline-block;
    	margin-right: 0.6%;
    	margin-bottom: 0.2em;
    	padding: 0 0.6em 0.6em 0.6em;
        border-top-right-radius: 0.4em;
    	border-top-left-radius: 0.4em;
        font-size: 1.2em;
    }

    nav ul p{
        margin: 0 -0.6em;
        padding: 0.6em;
        border-top-right-radius: 0.4em;
        border-top-left-radius: 0.4em;
    }

    nav p a{
        color: #111111;
    }

    nav li .dropdown{
       position: absolute;
       margin-left: -0.6em;
       display: none;
       background-color: #507AA5;
       border-radius: 0.4em;
       border-top-left-radius: 0;
       -moz-box-shadow: 0.1em 0.1em #555555;
        -webkit-box-shadow: 0.1em 0.1em #555555;
        box-shadow: 0.1em 0.1em  #555555;
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#555555')";
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#555555');
        /* This filter will produce a validation error but thats ok*/
    }

    .dropdown li{
        display: block;    
        font-size: 0.91666667em;  /* parent is 12px */
        letter-spacing: 0.05em;
        border-radius: 0.91666667em;          
    }

    .dropdown li a{
        color: #EEEEEE;
        font-weight: 100;
        display: block;
        padding: 0.6em 0.6em;
        border-radius: 0.4em; 
    }

    .hidden{
        visibility: hidden;
    }

    nav li:hover, nav li:hover a{
    	background-color: #507AA5;
        color: #EEEEEE;
    }

    nav p:hover, nav p:hover a, .dropdown li:hover, .dropdown li:hover a{
        background-color: #466A90;
    }

    .dropdown li img{
        margin-top: -0.1em;
        float: right;
    }

    nav form{
    	display:inline-block;
    	float:right;
    }

        nav input[type=search]{
            font-size: 1.2em;
            height: 2em;
            width: 15.2em;
            outline: none;
        	margin-right: -0.3333333em;
        	border: 0.1em solid #CCCCCC;
        	border-top-left-radius: 0.5em;
        	border-bottom-left-radius: 0.5em;
        	padding: 0.0833333em 0.5em;
        }

        nav input[type=submit]{
            font-size: 1.0em;
            height: 2.8em;
        	background-color: #507AA5;
        	color: #EEEEEE;
            font-weight: 100;
            text-align: center;
            border: 0;
        	border-top-right-radius: 0.6em;
        	border-bottom-right-radius: 0.6em;
        	padding: 0.4em 1.4em 0.6em 1.4em;
            letter-spacing: 0.1em;
        }

        /* change font color and weight inside search bar */
        ::-webkit-input-placeholder { /* WebKit browsers */
           color: #555555;
           font-weight: 100;
           
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: #555555; 
            font-weight: 100;   
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: #555555;
            font-weight: 100;
        }
        :-ms-input-placeholder { /* Internet Explorer 10+ */
            color: #555555;
            font-weight: 100;
        }
/*  END OF NAV BAR  ====================================== */

/*  START OF CONTENT UNDER THE NAV BAR ============================  */

.content{
	margin-top: 3.5%;
	overflow: hidden;
}
/*  LEFT CONTENT ==================== */
.left-content{
	float: left;
	border-right: 0.1em solid #DFDFDF; 
	width: 69.6%;
}

	section{
		margin-right: 5%;
		margin-bottom: 4%;
		padding: 0;
		padding-bottom: 2%;
		border-bottom: 0.1em solid #DFDFDF;
		overflow: hidden;
        letter-spacing: 0.1em;
	}

	section .image-box{
		float: left;
		display: inline;
		border: 0.1em solid #DFDFDF;
		padding: 0.5%;
		width: 20%;
	}
	section .image-box img{
		width:100%;

	}

    section .image-box p{
        margin-top: -0.3em;
        background-color: #507AA5;
        text-align: center;
        color: #EEEEEE;
        padding: 5%;
    }

	section .headings {
		float: right;
		display: inline-block;
		max-width: 75%;  		
	}
    	.headings h2{
    		color: #5A7A9B;
            font-size: 2.6em;
    		display:inline-block;
    		margin: 0;
    		margin-bottom: 2%;
    	}

    	.headings .article-info{
            font-size: 1.1em;
    		overflow: hidden;
    		padding: 1.3% 0;
    		border-top: 0.1em solid #DFDFDF;
    		display: block;  
    	}

        .headings img{
            margin: -0.4em;
        }

    	.article-info span:first-child{
    		float: left;
    	}

    	.article-info span.second-span{
    		float: right;
    	}

    	.article-info span.article-summary{
    		font-size: 1.4em;
            padding-top: 1%;
    	}
/* END OF LEFT CONTENT ===================== */

/*  BOXED CONTENT (column on the right) ==================== */
.boxed-content{
   float: right;
   width: 27%;

}

	.boxed-content .tab-box{
        font-size: 1.1em;
		margin-bottom: 5%;
		background-color: #CCCCCC;
		padding: 2%;
		border-radius: 0.4em;
        max-width: 30em;
	}

	.tab-box > ul > li{
		display: inline-block;
	}

    .tab-box > ul > li> a, .tab-box > ul > li> span{
        padding: 0.5em;
        background-color: #FFFFFF;
        display: inline-block;
        border-top-left-radius: 0.4em;
        border-top-right-radius: 0.4em;
        color: #222222;
        cursor: pointer;
    }

    .tab-box ul .gray-tab a, .tab-box ul .gray-tab span{
        background-color: #BBBBBB;
    }

        .tab-box div ul{
        	list-style-type: none;
            padding: 0.6em;
        	background-color: #FFFFFF;
        	border-radius: 0.4em;
        	border-top-left-radius: 0;
        }

        .tab-box div li{
        	border-bottom: 0.1em dotted #DFDFDF;
        	margin: 0 1%;
        	padding: 0.6em 0em 0.6em 2.0em;
        	color: #BBBBBB;
        }

        .box2 div li{
            padding-left: 0;
        }

        .tabB{
            display: none;
        }

/* ENF OF BOXED CONTENT */


@media screen and (max-width: 800px){
   
    nav > ul, .left-content, .boxed-content{
        width: 100%;
    }

    .tab-box{
        float: left;
        margin-right: 4%;
    }

}